[Unit]
Description=Stargaze Full Node

[Service]
Environment=STARSD_P2P_LADDR=tcp://0.0.0.0:2190
Environment=STARSD_RPC_LADDR=tcp://0.0.0.0:2191
Environment=STARSD_NODE=tcp://127.0.0.0:2191
Environment=STARSD_GRPC_ADDRESS=0.0.0.0:2192
Environment=STARSD_API_ADDRESS=tcp://127.0.0.0:2193
Environment=STARSD_P2P_SEEDS="babc3f3f7804933265ec9c40ad94f4da8e9e0017@stargaze.seed.rhinostake.com:16656"
Environment=STARSD_P2P_UNCONDITIONAL_PEERS="7a2d19fe338e7ec5a608c9b1f1ec55c82f4337c7"
Environment=STARSD_GRPC_WEB_ADDRESS=127.0.0.0:2194
Environment=STARSD_P2P_MAX_NUM_INBOUND_PEERS=500
Environment=STARSD_P2P_MAX_NUM_OUTBOUND_PEERS=100
User=root
Restart=always
RestartSec=30
ExecStart=/root/go/bin/starsd start --db_backend rocksdb --home /gaia1/stargaze

[Install]
WantedBy=multi-user.target
